.content-page-wrapper {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 79px);

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px;

        .contact-bullet-points {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 21px;
    
            .bullet-point-group {
                display: flex;
                align-items: center;
            }

            .icon {
                font-size: 2em;
                color: $teal;
            }

            .text {
                font-size: 1.5em;
                font-weight: 900;
                margin-left: 21px;
            }
        }
    }


    // .contact-spacer {
    //     height: 5vh;
    // }

    // .contact-type-wrapper {

    //     display: grid;
    //     grid-template-columns: 1fr 5fr;
    //     align-items: center;
    //     gap: 20px;

    //     color: $grey;
    //     transition: .5s all ease-in-out;
    //     font-size: 1.6em;
    //     border-bottom: 2px solid transparent;
    //     border-radius: 3px;
    //     margin-left: -150px;

    //     cursor: pointer;

    //     .contact-icon {
    //         font-size: 2.2em;
    //         color: $teal;
    //         padding: 5px;
    //         transition: .5s all ease-in-out;
    //     }
    //     &:hover {

    //         color: $charcoal;
    //         border-bottom: 2px solid $charcoal;

    //         .contact-icon {
    //             color: $dark-teal;
    //         }
    //     }
    // }


}